/* 
    Created on : Jul 14, 2015, 8:14:53 PM
    Author     : kaba
*/
@import "../assets/jquery-ui/themes/base/all.css";
@import "../assets/bootstrap/dist/css/bootstrap.min.css";
@import "../assets/bootstrap/dist/css/bootstrap-theme.min.css";
@import "../assets/datatables-bootstrap3/BS3/assets/css/datatables.css";

body{
    color: #555555;
    font-family: Arial,Helvetica,sans-serif,Vibrocentric Italic;
    font-size: 13px;
    padding-top: 50px;
    padding-bottom: 20px;
}

#footer{
    clear: both;
    height: 50px;
    /*    border-radius: 10px;
        border-top: solid 1px #999;*/
    margin: 50px auto 0px auto;
}
.fixed{
    position: fixed;
    padding-left: 0 !important;
}
.content{
    margin-top: 5px;
}

.title{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 2em 0;
}

.navbar-default2 {
  background-color: #1b81e9;
  border-color: #111ce6;
}
.navbar-default2 .navbar-brand {
  color: #363e41;
}
.navbar-default2 .navbar-brand:hover, .navbar-default2 .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default2 .navbar-text {
  color: #363e41;
}
.navbar-default2 .navbar-nav > li > a {
  color: #363e41;
}
.navbar-default2 .navbar-nav > li > a:hover, .navbar-default2 .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default2 .navbar-nav > .active > a, .navbar-default2 .navbar-nav > .active > a:hover, .navbar-default2 .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #111ce6;
}
.navbar-default2 .navbar-nav > .open > a, .navbar-default2 .navbar-nav > .open > a:hover, .navbar-default2 .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #111ce6;
}
.navbar-default2 .navbar-toggle {
  border-color: #111ce6;
}
.navbar-default2 .navbar-toggle:hover, .navbar-default2 .navbar-toggle:focus {
  background-color: #111ce6;
}
.navbar-default2 .navbar-toggle .icon-bar {
  background-color: #363e41;
}
.navbar-default2 .navbar-collapse,
.navbar-default2 .navbar-form {
  border-color: #363e41;
}
.navbar-default2 .navbar-link {
  color: #363e41;
}
.navbar-default2 .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-default2 .navbar-nav .open .dropdown-menu > li > a {
    color: #363e41;
  }
  .navbar-default2 .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default2 .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default2 .navbar-nav .open .dropdown-menu > .active > a, .navbar-default2 .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default2 .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #111ce6;
  }
}